aside.main-sidebar,nav.main-header,footer.main-footer,.login-background{
  background-image:url("../dist/img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer.main-footer{
  background-position: bottom;
}
.adm-rol{
    font-size: 0.8rem;
}
/* LOGIN */
.login-box .card,.login-box .card-body{
  background-color: rgba(255,255,255,.3);
}
/* CLIENTES */
.grid-abe{
  display:grid;
  max-width: 500px;
  grid-template-columns: 45px repeat(4,1fr);
  justify-items: center;
}
.grid-item, #formMedidaCliente h4,.btnCrearCliente{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
#formMedidaCliente .modal-header{
  padding-left: 36px;
}
/* CLIENTES COMPRAS */
.compras-titulos{
  display:grid;
  grid-template-columns: 70px 1fr 1fr 50px;
  column-gap: 5px;
  justify-items: center;
  padding: 10px 0;
}
.compras-item{
  padding: 16px 0;
  border-top: 1px solid #ccc;
}
.compras-first{
  display:grid;
  grid-template-columns: 70px 1fr 1fr 50px;
  column-gap: 5px;
  justify-items: center;
}
.compras-second{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
  justify-items: center;
}

/* VENTAS CLIENTES SELECT*/
.select2-container .select2-selection--single{
  height:calc(2.25rem + 2px) !important
}
@media (min-width:1400px) {
  .col-xxl-5{
    flex: 0 0 41.666666667%;
    max-width: 41.666666667%;
  }
  .col-xxl-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}
/* ADM-VENTAS */
.min-w-60{
  min-width: 60px;
}